﻿@{
    ViewData["Title"] = "Manual OpenShift";
}
<style>
    p {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif
    }
</style>

    <div class="text-center">
        <h2>Bem Vindo </h2>
        <p style="font-family:Arial, Helvetica, sans-serif">O objetivo desse sistema é ajudar o desenvolvedor há dá seus primeiros passos na criação e configuração de projetos em .Net Core usando OpenShit.</p>
        <br />
        <h2>
            Escalando aplicações utilizando OpenShift – DevOps
        </h2>
        <br />
        <h4>
            <p style="text-align:left">
                <strong>O que é OpenShift?</strong>
            </p>
        </h4>
        <p>
            O OpenShift é uma plataforma de DevOps desenvolvida pela Red Hat que tem como objetivo simplificar a vida dos desenvolvedores na hora de publicar e manter aplicações. A arquitetura em que o OpenShift é feito permite conteinerizar as aplicações, fazendo com que a cada aplicação esteja isolada, possibilitando que seja escalada. Ele usa o Kubernetes, desenvolvido pela Google, para fazer o orquestramento de diversas instâncias de contêineres, fornecendo infraestrutura necessária para receber as aplicações. A plataforma foi criada utilizando a seguinte estrutura:
        </p>
        <img src="~/images/estrutuda_openshift.png" />

        <p>
            Diferente das demais plataformas, o OpenShift é muito simples de ser utilizado. Ele possui uma interface web que com poucos cliques toda a infraestrutura é criada. Existe também a opção de acessar o OpenShift através do terminal. Após a criação da instância, com mais um clique você pode criar uma cópia ou remover uma instância, escalando rapidamente a aplicação. Nessa opção, podem ser configurados scripts que dão mais liberdade ao usuário, como a possibilidade de agendar deploys automáticos.
        </p>

        <p>
            Ainda, a plataforma permite que seja configurado o auto-scalling de cada uma das aplicações com base no consumo de CPU e memória. O OpenShift também traz resiliência à aplicação. Caso alguma dos contêineres caia, ele é imediatamente reiniciado.
        </p>

        <p>
            Outro diferencial é a compatibilidade de funcionamento com diversas linguagens de programação e com diversos provedores de serviço. A plataforma pode hospedar aplicações em Java, PHP, Node, Asp NET Core entre outras.
        </p>

        <img src="~/images/templates.png" />
    </div>
